@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.bigButton{
    font-family: 'Poppins', sans-serif;; ;
    width: 388px;
    height: 52px;
    color: #ffff;
    background-color:#42B4E6 ;
    border-radius: 5px;
    border-style: none;
}
