$primary: #42B4E6;
$secondary: white;
$tertiary: blue;

* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}


.containerfirst{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 40%;
    padding: 20px;
}

.containersecond{
    height: 100%;
    width: 60%;
    background-image: url('../../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media (max-width: 1000px){
        display: none
    }
}

.containerforms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.bigButton{
    font-family: 'Poppins', sans-serif;; ;
    width: 388px;
    height: 52px;
    color: #ffff;
    background-color:#42B4E6 ;
    border-radius: 5px;
    border-style: none;
}
